<div align="center">
  <%= form_for @listing, :url => listing_edit_path(:listing_id => params[:listing_id]), method: :patch do |f| %>
    <% if @listing.errors.any? or notice%>
      <div class='alert alert-danger'>
        <li><%= notice %></li>
        <% @listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div class='form-group'>
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, :value => @listing.title %>
    </div>
    <div class='form-group'>
      <%= f.label :location, 'Location' %>
      <%= f.text_field :location, :value => @listing.location %>
    </div>
    <div class='form-group'>
      <%= f.label :start_date, "Start Date" %>
      <%= f.text_field :start_date, :id => 'dateStart', :value => @listing.start_date %>
      <%= f.label :end_date, "End Date" %>
      <%= f.text_field :end_date, :id => 'dateEnd', :value => @listing.end_date %>
    </div>
    <div class='form-group'>
      <%= f.label :housing_type, "Type of Housing" %>
      <%= f.select :housing_type, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], :value => @listing.housing_type %>
    </div>
    <div class='form-group'>
      <%= f.label :bedrooms, "Bedrooms" %>
      <%= f.select :bedrooms, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], :value => @listing.bedrooms %>
    </div>
    <div class='form-group'>
      <%= f.label :bathrooms, "Bathrooms" %>
      <%= f.select :bathrooms, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], :value => @listing.bathrooms %>
    </div>
    <div class='form-group'>
      <%= f.label :gym, "Gym" %>
      <%= f.select :gym, [true.humanize, false.humanize], :value => @listing.gym %>
    </div>
    <div class='form-group'>
      <%= f.label :pet_friendly, "Pet Friendly" %>
      <%= f.select :pet_friendly, [true.humanize, false.humanize], :value => @listing.pet_friendly %>
    </div>
    <div class='form-group'>
      <%= f.label :ac, "Air Conditioning" %>
      <%= f.select :ac, [true.humanize, false.humanize], :value => @listing.ac %>
    </div>
    <div class='form-group'>
      <%= f.label :heater, "Heater" %>
      <%= f.select :heater, [true.humanize, false.humanize], :value => @listing.heater %>
    </div>
    <div class='form-group'>
      <%= f.label :wifi, "Wi-Fi" %>
      <%= f.select :wifi, [true.humanize, false.humanize], :value => @listing.wifi %>
    </div>
    <div class='form-group'>
      <%= f.label :wash_and_dry, "Washer and Dryer" %>
      <%= f.select :wash_and_dry, [true.humanize, false.humanize], :value => @listing.wash_and_dry %>
    </div>
    <div class='form-group'>
      <%= f.label :yard, "Yard Space" %>
      <%= f.select :yard, [true.humanize, false.humanize], :value => @listing.yard %>
    </div>
    <div class='form-group'>
      <%= f.label :public_transportation, "Near Public Transportation" %>
      <%= f.select :public_transportation, [true.humanize, false.humanize], :value => @listing.public_transportation %>
    </div>
    <div class='form-group'>
      <%= f.label :parking, "Parking Spaces Available" %>
      <%= f.select :parking, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], :value => @listing.parking %>
    </div>
    <div class='form-group'>
      <%= f.label :price, "Highest Price $" %>
      <%= f.text_field :price, :value => @listing.price %>
    </div>
    <div class='form-group'>
      <%= f.label :description, "Additional Information" %>
      <%= f.text_field :description, :value => @listing.description %>
    </div>

    <%= f.submit "Submit", :class => 'btn btn-primary' %>
  <% end %>
</div>
