  <% unless !current_user %>

  <div>
    <%= stylesheet_link_tag "listing" %>
    <h3 align="center">Listings</h3>
    <table align="center", class="table table-striped table-hover table-all-listings">
        <tr>
            <th> location </th>
            <th> price </th>
            <th> duration </th>
            <th> amenities </th>
            <th> housing type </th>
            <th> description </th>
            <th> Owner </th>
        </tr>

      <% @listings.each do |data| %>
          <tr>
                <td><%= link_to data.location, listing_show_path(:id => data.id), class: 'btn btn-link' %></td>
                <td><%= data.price %></td>
                <td><%= data.duration %></td>
                <td><%= data.amenities %></td>
                <td><%= data.housing_type %></td>
                <td><%= data.description %></td>
                <td><%= link_to User.find(data.user_id).email, users_show_path(:id => data.user_id), class: 'btn btn-link' %></td>
          </tr>
      <% end %>

    </table>
  </div>

  <% end %>
