<div id = "listings">
  <h3 align="center">Listing Information</h3>
  <table align="center", class="table table-striped table-hover table-my-listings">
    <%= stylesheet_link_tag "listing" %>
    <tbody>
      <tr>
        <th scope="row">Location</th>
        <td><%= @listing.location %></td>
      </tr>
      <tr>
        <th scope="row">Price</th>
        <td><%= @listing.price %></td>
      </tr>
      <tr>
        <th scope="row">Duration Available</th>
        <td><%= @listing.duration %></td>
      </tr>
      <tr>
        <th scope="row">Number of Bedrooms</th>
        <td><%= @listing.bedrooms %></td>
      </tr>
      <tr>
        <th scope="row">Number of Bathrooms</th>
        <td><%= @listing.bathrooms %></td>
      </tr>
      <tr>
        <th scope="row">Onsite Gym</th>
        <td><%= @listing.gym %></td>
      </tr>
      <tr>
        <th scope="row">Pet Friendly</th>
        <td><%= @listing.pet_friendly %></td>
      </tr>
      <tr>
        <th scope="row">In-Unit Air Conditioning</th>
        <td><%= @listing.ac %></td>
      </tr>
      <tr>
        <th scope="row">In-Unit Heater</th>
        <td><%= @listing.heater %></td>
      </tr>
      <tr>
        <th scope="row">Wi-Fi Provided</th>
        <td><%= @listing.wifi %></td>
      </tr>
      <tr>
        <th scope="row">Washer and Dryer Provided</th>
        <td><%= @listing.wash_and_dry %></td>
      </tr>
      <tr>
        <th scope="row">Yard Space</th>
        <td><%= @listing.yard %></td>
      </tr>
      <tr>
        <th scope="row">Near Public Transportation</th>
        <td><%= @listing.public_transportation %></td>
      </tr>
      <tr>
        <th scope="row">Number of Parking Spaces Available</th>
        <td><%= @listing.parking %></td>
      </tr>
      <tr>
        <th scope="row">Price Cap (Highest Price)</th>
        <td><%= @listing.price %></td>
      </tr>
      <tr>
        <th scope="row">Housing Type</th>
        <td><%= @listing.housing_type %></td>
      </tr>
      <tr>
        <th scope="row">Description</th>
        <td><%= @listing.description %></td>
      </tr>
    </tbody>
  </table>
  <div align='center'>
  <h5>Average Rating: <%= @listing.average_rating %></h5>
  <h3> <%= link_to 'Submit Review', listing_review_new_path(:listing_id => params[:listing_id]), class: 'btn btn-primary'%> </h3>
  <% if @listing_reviews %>
    <% @listing_reviews.each do |data| %>
    <div class="detailBox">
      <div class="titleBox">
        <label><%= data.user_id ? User.find(data.user_id).email : "" %> Review</label>
      </div>
      <div class="commentBox">
          <h5 class="rating">Rating: <%= data.rating %></h5>
          <p class="taskDescription"><%= data.review %></p>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
