<html>
<div id = "listings">
  <h3 align="center" >My Listings </h3>
  <h3 align="center"> <%= link_to 'Create Listing', listing_new_path, class: 'btn btn-primary'%> </h3>
  <% if notice%>
    <div class='alert alert-danger'>
      <li><%= notice %></li>
    </div>
  <% end %>
  <% if @listings %>
    <% @listings.each_with_index do |data| %>
      <h5 align="center"><%= link_to data.readable_title, listing_show_path(:listing_id => data.id), class: 'btn btn-link', style: 'white-space: normal;'%></h5>
      <table align="center", class="table table-striped table-hover table-my-listings">
        <%= stylesheet_link_tag "listing" %>
        <tbody>
          <tr>
            <th scope="row">Location</th>
            <td><%= data.location %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td><%= data.price %></td>
          </tr>
          <tr>
            <th scope="row">Duration Available</th>
            <td><%= data.start_date %> to <%= data.end_date %></td>
          </tr>
          <tr>
            <th scope="row">Housing Type</th>
            <td><%= data.housing_type %></td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td><%= data.description %></td>
          </tr>
          <tr>
            <% if data.available %>
              <th scope="row"><%= link_to 'Sublease Requests', listing_request_show_for_listing_path(:listing_id => data.id) %></th>
              <td><%= data.listing_requests.size %></td>
            <% else %>
              <th>Subleased To: <%= link_to User.find(ListingContract.where(listing_id: data.id).first.subleaser_id).name ? User.find(ListingContract.where(listing_id: data.id).first.subleaser_id).name : User.find(ListingContract.where(listing_id: data.id).first.subleaser_id).email , users_show_path(:id => ListingContract.where(listing_id: data.id).first.subleaser_id) %></th>
              <th>Until: <%= ListingContract.where(listing_id: data.id).first.expiration_date %></th>
            <% end %>
          </tr>
          <tr>
            <th scope="row"><%= link_to 'Edit', listing_edit_path(:listing_id => data.id), class: 'btn btn-link', style: 'white-space: normal;'%></th>
            <th scope="row"><%= link_to 'Delete', listing_destroy_path(:listing_id => data.id), method: :delete, class: 'btn btn-link', style: 'white-space: normal;'%></th>
          </tr>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
</html>
