<div id='bg'>
  <div class='centered'>
    <h1>Wanderlease</h1>
    <% unless !current_user %>
      <p>Welcome, <%= current_user[:email]%></p>
    <% end %>
  </div>
  <% unless !current_user %>
  <h3>Listings</h3>
  <table>
  	<tr>
  		<th> location </th>
  		<th> price </th>
  		<th> duration </th>
  		<th> amenities </th>
  		<th> housing type </th>
  		<th> description </th>
  	</tr>
  	<tr>
  		<%= @listings.each do |listings| %>
  			<td><%= listings.location %></td>
  			<td><%= listings.price %></td>
  			<td><%= listings.duration %></td>
  			<td><%= listings.amenities %></td>
  			<td><%= listings.housing_type %></td>
  			<td><%= listings.description %></td>
  		<% end %>
  	</tr>
  </table>
  <% end %>
</div>
