<div>
  <%= stylesheet_link_tag "preferences" %>
  <%= form_for @preference, url: {action: "update"} do |f| %>
    <% if @preference.errors.any? or notice%>
      <div class='alert alert-danger'>
        <li><%= notice %></li>
        <% @preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <div align="center", class='form-group form'>
      <%= f.label :bedrooms, "Bedrooms" %>
      <%= f.select :bedrooms, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], :value => @preference.bedrooms %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :bathrooms, "Bathrooms" %>
      <%= f.select :bathrooms, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], :value => @preference.bathrooms %>
    </div>
   <div align="center", class='form-group form'>
      <%= f.label :gym, "Gym" %>
      <%= f.check_box :gym, :value => @preference.gym %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :pet_friendly, "Pet Friendly" %>
      <%= f.check_box :pet_friendly, :value => @preference.pet_friendly %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :ac, "Air Conditioning" %>
      <%= f.check_box :ac, :value => @preference.ac %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :heater, "Heater" %>
      <%= f.check_box :heater, :value => @preference.heater %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :wifi, "Wi-Fi" %>
      <%= f.check_box :wifi, :value => @preference.wifi %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :wash_and_dry, "Washer and Dryer" %>
      <%= f.check_box :wash_and_dry, :value => @preference.wash_and_dry %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :yard, "Yard Space" %>
      <%= f.check_box :yard, :value => @preference.yard %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :public_transportation, "Near Public Transportation" %>
      <%= f.check_box :public_transportation, :value => @preference.public_transportation %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :parking, "Parking Spaces Available" %>
      <%= f.select :parking, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], :value => @preference.parking %>
    </div>
    <div align="center", class='form-group form'>
      <%= f.label :price, "Highest Price $" %>
      <%= f.text_field :price, :value => @preference.price %>
    </div>
    <div align="center">
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
