<!DOCTYPE html>
<html>
  <head>
    <title>Wanderleaseapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <%= link_to "WANDERLEASE", root_path, class: 'navbar-brand'%>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if !current_user %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'nav-link'%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Preferences', preferences_show_path, class: 'nav-link'%>
          </li>
          <li class="nav-item">
            <%= link_to 'My Listings', listing_show_path, class: 'nav-link'%>
          </li>
        <% end %>
      </ul>
    </div>

    <div style='float: right;'>
      <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger'%>
        <%= link_to 'Change Password', edit_user_registration_path, class: 'btn btn-link'%>
      <% end %>
    </div>
  </nav>
  <%= yield %>
  </body>
</html>
