<div class='centered'>
  <%= form_for @listing_request, url: {action: "create"} do |f| %>
    <% if @listing_request.errors.any? or notice%>
      <div class='alert alert-danger'>
        <li><%= notice %></li>
        <% @listing_request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>
    <h3><%= f.label :request_message, "Request Message" %></h3>
    <div class='form-group'>
      <%= f.text_area :request_message %>
    </div>
    <%= f.hidden_field :listing_id, :value => params[:listing_id] %>
    <%= f.hidden_field :subleaser_id, :value => current_user.id %>
    <%= f.submit "Submit", :class => 'btn btn-primary' %>
  <% end %>
</div>
